:root {
  --main: "#FFA500";
  --lg: "2rem";
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.main {
  margin: 0 auto;
  width: 100%;
}

.al-baseline {
  align-items: baseline;
}

.section-title {
  font-size: 3rem;
  font-weight: 300;
}
.rtl {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .section-title {
    font-size: 2rem;
    padding: 0 1rem;
  }
}
